<!DOCTYPE html>
<html>
  <head>
    <title>GoogleOauth</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="google-signin-client_id" content="930432434977-ugm0oqsp81du5d1rs9or8mvb1grmmi85.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
